body, html {
    height: 100%;
    background-color: #c8e9f7;
    font-family: 'Times New Roman', sans-serif;
  }
  
.header {
    background-color: #c8e9f7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Aumentar la especificidad para sobrescribir estilos predeterminados */
.fc .fc-border-separate .fc-content,
.fc .fc-border-separate .fc-row,
.fc .fc-border-separate .fc-event {
    border-color: black !important;
}

/* Cambia el color del borde de las celdas del calendario */
.fc .fc-border-separate .fc-day-top {
    border-color: black !important;
}

/* Cambia el color del borde de los eventos del calendario */
.fc .fc-border-separate .fc-event .fc-content {
    border-color: black !important;
}

.header img.logo {
    width: 110px; /* Ajusta el tamaño del logo según tus necesidades */
}

.header h1 {
    margin: 0;
    font-size: 40px;
}

.card {
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    font-size: 22px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #06735F;
}

nav ul li:hover a{
    color: #06735F;
}


/* Añade aquí más estilos según necesites para personalizar tu dashboard */
