.container {
    max-width: 600px;
    margin: auto;
    padding-top: 30px;
}

body, html {
    height: 100%;
    background-color: #c8e9f7;
    font-family: 'Times New Roman', sans-serif;
  }
  
.header {
    background-color: #c8e9f7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img.logo {
    width: 110px; /* Ajusta el tamaño del logo según tus necesidades */
}

.header h1 {
    margin: 0;
    font-size: 40px;
}

.profile-info {
    border: 1px solid #00BCD4;
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5px;
}

.btn {
    margin-top: 10px;
}

.card {
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    font-size: 22px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #06735F;
}

nav ul li:hover a{
    color: #06735F;
}

.logo {  
    width: 200px; /* Adjust to the size of your actual logo */
    margin-bottom: 30px;
  }
  
  .text-uppercase {
    color: #00BCD4;
  }
  
  .card-title {
    color: #06735F;
  }
  
  .btn {
    border-radius: 20px;
    padding: 10px 0;
    margin-top: 50px;
  }
  
  .btn-primary {
    background-color: #8FBFB6;
    border-color: #06735F;  
    width: 100%; 
  }
  
  .btn-outline-primary {
    color: #06735F;
    border-color: #06735F;
  }
  
  .btn-primary:hover {
    background-color: #06735F;  
    border-color: #06735F;
  }
  
  .btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: #06735F;
    border-color: #06735F;
  }
  
  .btn-primary:active {
    background-color: #06735F !important;
    border-color: #8FBFB6 !important;
  }
  
  .btn-outline-primary:active {
    background-color: #06735F !important;
    border-color: #8FBFB6 !important;
  }
  
  .btn-lg.btn-block {
    max-width: 250px;
    margin: auto;
  }
  
  label {
    display: block;
    color: #06735F;
    margin-bottom: .5rem;
  }
  
  .form-control {
    border-radius: 20px;
    border: 1px solid #06735F;
    margin-bottom: 0.5rem;
  }
  
  .container {
    min-height: 100vh; 
  }
  
  .user-icon {
    width: 150px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Estilos existentes... */
  
  .registration-card {
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 0;
  }
  